<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<!-- 配置Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/DaoConfig-${artifactId}.xml</param-value>
	</context-param>
	<!-- 使用ContextLoaderListener初始化Spring容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- End配置Spring -->
	<!-- 分割线 -->
	<!--SpringMVC配置 -->
	<!-- SpringMVC拦截器，拦截*.mvc请求 -->
	<servlet>
		<servlet-name>MVC-Service-${artifactId}</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:MVC-Service-${artifactId}.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVC-Service-${artifactId}</servlet-name>
		<url-pattern>*.mvc</url-pattern>
	</servlet-mapping>

	<!-- End SpringMVC配置 -->

	<!-- 错误页面配置 -->
	<error-page>
		<error-code>404</error-code>
		<location>/page_not_found.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/page_error.html</location>
	</error-page>
	<!--End 错误页面配置 -->

	<welcome-file-list>		
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
